h1 {
    text-align: center;
    font-size: 30px;

    width: 60%;
    
  }
p {
    font-family: "Play", serif;
    font-weight: 400;
    font-style: normal; 
    padding: 5px;

    float: none;
    width: 70%;
    
  }

.krasivaya-forma-div {
    font-family: "Play", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    border-radius: 5px;
    padding: 35px 20px;
    background-color: #88dceb;
    margin: 16px 100px 10px;
    text-align: left;

    float: none;
    width:43%;
    box-sizing: border-box;
   
    
  }
  .another-forma_div {
    text-align: center;
    margin: 20px 150px;

    float: none;
    width:75%;
    box-sizing: border-box;
   

  }
  .chastnaya-forma-div {
    font-family: "Play", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    border: solid 3px transparent;
    border-radius: 5px;
    flex-direction: row;

    padding: 10px 30px;
    background-color: #88dceb;
    margin: 15px 100px 10px;
    text-align: left;

    float: none;
    width:42%;
    box-sizing: border-box;
  }
body {
    background-repeat: no-repeat;
    background-color: rgb(196, 243, 243);
                                                                             
}
.size-button {
    font-family: "Play", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px; 
    background-color: #81c3d7;
    border-radius: 10px;
    border-color: white;
    
    float: left;
    width:35%;
    box-sizing: border-box;
}
.text-input {
    font-size: 20px;
    border-radius: 10px;

    float: none;
    width:45%;
    box-sizing: border-box;


}
img {
    width: 100%;
    max-width: 400px;
    background-color: #88dceb;
    margin: 0 auto;
    display: block;
    box-sizing: border-box;

}

header{
    text-align: center;
    font-family: "Balsamiq Sans", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    padding: 5px 0;
}
footer {
    background-color: beige;
    width:100%;
    float: left;
    text-align: center;
    
}
a {
    margin : 0 15px; 
    color: #2a75af;
    text-decoration: none;
    
}
  
  /* Использовать медиа запрос, чтобы добавить точку останова на 600 пикселей: */
 /* Медиа-запрос для адаптивности */
 @media screen and (max-width: 600px) {
    .another-forma_div, .krasivaya-forma-div, .chastnaya-forma-div { 
        width: 90%;
        margin: 10px auto;
    }
    h1, p {
        width: 100%;
    }
    .size-button, .text-input {
        width: 100%;
        margin-top: 10px;
    }
    img {
        max-width: 100%;
    }
}